<header id="main_header" class="header_sev">

  <nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i></button>
            <a class="navbar-brand sticky_logo" ><img src="assets/images/logo_center.png"
                class="logo" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">

              <li class="dropdown active"  class="dropdown-toggle" data-toggle="dropdown">
                <a  routerLink='/dashboard' class="btn">Dashboard</a>
              </li>
              <li >
                <a class="btn" routerLink='/profile'>Profile</a>
              </li>
              <li >
                <a class="btn" routerLink='/post-home'>Register Home</a>
              </li>
              <li >
                <a class="btn"  routerLink='/view-home-list' >Your PROPERTIES</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>


<section id="banner-nin" class="parallaxie">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="banner_detail">
            <h2>Well Come in <span>Aalan Infotech Homes</span> Real Estate</h2>
            <div id="typewriter"></div>
            <div class="btns-box">
              <!-- <a href="#." class="btn_brd">Read More</a>
              <a href="#." class="btn_fill">Contact us</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<div id="counter-section" class="p_b_230">
    <div class="container">
  
        <div class="row mb-20">
          <div class="col-sm-1 col-md-2"></div>
          <div class="col-xs-12 col-sm-10 col-md-8 text-center">
            <h2 class="text-uppercase">Welcome to <span class="color_red">Aalan Infotech</span></h2>
            <div class="line_1-1"></div>
            <div class="line_2-2"></div>
            <div class="line_3-3"></div>
            <!-- <p class="heading_space">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
          </div>
          <div class="col-sm-1 col-md-2"></div>
        </div>
  
        <div class="row number-counters text-center mt-30">
  
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <!-- <div class="counters-item">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    
                  
                </div> -->
  
            </div>
  
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-th" aria-hidden="true"></i> 
                    
                    <strong data-to="2">2</strong>
                    <p>Total Sale</p>
                    <div class="border-inner"></div>
                </div>
  
            </div>
  
            <div class="col-md-3 col-sm-6 col-xs-12">
               
                <div class="counters-item">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="5">5</strong>
                    <p>Total Rent</p>
                    <div class="border-inner"></div>
                </div>
            </div>
  
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <!-- <div class="counters-item">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    
                    <strong data-to="5020">0</strong>
                    <p>Users</p>
                    <div class="border-inner"></div>
                </div> -->
  
            </div>
  
        </div>
  
    </div>
  </div>